
<h4>Hello <%= @user['name'] %> ,</h4>





<form method="post"  action="/addtopic">
	Create Topic <input type ="text" name="topicname" placeholder="Topic Name">
  <input type="submit" value='add+'>
</form> 

<p> Popluar Topics</p>


