
<form method="POST" action="/login">
  <input type="text" name="email" placeholder="email"> <br>
  <input type="password" name="password" placeholder="password"> <br>
  <input type="submit" name="Login">
</form>

<%=@message %>